.container {
  .money-per-hour-input {
    width: 70%;
    padding-right: 10px;
    display: inline-block;
  }

  .begin-button {
    width: 30%;
    display: inline-block;
    padding-left: 10px;
  }

  .money-made-up-to-now {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .cronometer {
      color: #151515 !important;

      .ms {
        color: #505050 !important;
        display: inline-flex;
        padding-right: 10px;
        margin-left: auto;
      }
    }

    .value {
      color: #303030 !important;
      padding-left: 10px;
    }
  }
}
