input {
  background: rgb(20, 20, 20);
  color: #ccc;
  font-size: 14px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 12.5px;
  border: 1px solid rgb(5, 5, 5);
  transition: .2s;

  &:disabled {
    background: rgb(60, 60, 60);
    color: #aaa;
    cursor: not-allowed;
  }

  &:focus:not(.disabled) {
    background: rgb(40, 40, 40);
    color: #eee;
  }
}
