.btn {
  min-width: 35px;
  width: max-content;
  height: 25px;
  padding: 20px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-size: 12.5px;
  border: none;
  box-sizing: content-box;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 1.5px;
  cursor: pointer;
  color: #bbb;
  background: rgb(14, 13, 13);

  &:hover {
    color: #ddd;
    background: rgb(41, 36, 36);
  }
}
