div {
  display: block;
}

* {
  position: relative;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}

html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}
